/stcg/nbproject/private/
.git/*
add-ons/*
build-tools/*
css/*
demos/*
images/*
lib/*
password_compat-master/*
platforms/*
platform-tools/*
scripts/*
styles/*
temp/*
test/*
tests/*
themes/*
tools/*
widgets/*